body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.todos {
    background-color: white;
    width: 500px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px -2px white;
    .todo-header {
        padding: 30px;
        text-align: center;
        background: #333;
        color: white;
    }
    .todo-input {
        display: flex;
        input {
            padding: 8px 16px;
            border: 1px solid #333;
            width: 100%;
            // custom placehoder
            &::-webkit-input-placeholder {
                font-style: italic;
                color: rgba($color: green, $alpha: 0.5);
            }
        }
        span {
            padding: 10px;
            background: green;
            color: white;
            cursor: pointer;
        }
    }
    .todo-list {
        ul {
            li {
                padding: 10px;
                border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
                ;
                &:last-child {
                    border-bottom: none;
                }
                p {
                    display: flex;
                    //justify-content: space-between;
                    align-items: center;
                    span {
                        display: inline-block;
                        padding: 8px 14px;
                        color: white;
                        background: green;
                        cursor: pointer;
                        border-radius: 3px;
                        &.btn-delete {
                            margin-left: auto;
                            margin-right: 10px;
                            background: red;
                        }
                    }
                    input {
                        margin: 0px 5px;
                    }
                }
            }
        }
    }
}