@import "media";
$col: 12;
$gutter-pc: 14px;
$gutter: 10px;
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$gutter-pc / 2);
    @for $i from 1 through $col {
        .col-#{$i} {
            width: (100% / $col) * $i;
            padding: $gutter / 2;
        }
    }
    .col-0 {
        display: none;
    }
    @include xs {
        @for $i from 1 through $col {
            .col-xs-#{$i} {
                width: (100% / $col) * $i;
                padding: $gutter / 2;
            }
        }
    }
    @include sm {
        @for $i from 1 through $col {
            .col-sm-#{$i} {
                width: (100% / $col) * $i;
                padding: $gutter / 2;
            }
        }
    }
    @include md {
        .col-md-2-4 {
            width: (100% / $col) * 2.4;
            padding: $gutter / 2;
        }
        @for $i from 1 through $col {
            .col-md-#{$i} {
                width: (100% / $col) * $i;
                padding: $gutter / 2;
            }
        }
    }
    @include lg {
        @for $i from 1 through $col {
            .col-lg-#{$i} {
                width: (100% / $col) * $i;
                padding: $gutter-pc / 2;
                display: block;
            }
        }
        .col-lg-2-4 {
            width: (100% / $col) * 2.4;
            padding: $gutter-pc / 2;
        }
    }
    @include xl {
        @for $i from 1 through $col {
            .col-xl-#{$i} {
                width: (100% / $col) * $i;
                padding: $gutter-pc / 2;
            }
        }
    }
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}


/* mobile */

@media (max-width: 740px) {
    .wide {
        width: 98%;
    }
    .row {
        margin: 0 (-$gutter / 2);
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1024px) {
    .wide {
        width: 644px;
        /* width: 80%; */
    }
    .row {
        margin: 0 (-$gutter / 2);
    }
}


/* PC */

@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }
}