body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333; }

.todos {
  background-color: white;
  width: 500px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px -2px white; }
  .todos .todo-header {
    padding: 30px;
    text-align: center;
    background: #333;
    color: white; }
  .todos .todo-input {
    display: flex; }
    .todos .todo-input input {
      padding: 8px 16px;
      border: 1px solid #333;
      width: 100%; }
      .todos .todo-input input::-webkit-input-placeholder {
        font-style: italic;
        color: rgba(0, 128, 0, 0.5); }
    .todos .todo-input span {
      padding: 10px;
      background: green;
      color: white;
      cursor: pointer; }
  .todos .todo-list ul li {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .todos .todo-list ul li:last-child {
      border-bottom: none; }
    .todos .todo-list ul li p {
      display: flex;
      align-items: center; }
      .todos .todo-list ul li p span {
        display: inline-block;
        padding: 8px 14px;
        color: white;
        background: green;
        cursor: pointer;
        border-radius: 3px; }
        .todos .todo-list ul li p span.btn-delete {
          margin-left: auto;
          margin-right: 10px;
          background: red; }
      .todos .todo-list ul li p input {
        margin: 0px 5px; }
