/* < 576px */

@mixin xs {
    @media (max-width: 576px) {
        @content;
    }
}


/* >=576px && < 740px */

@mixin sm {
    @media (min-width: 576px) {
        @content;
    }
}


/* >=740px && < 1024px */

@mixin md {
    @media (min-width: 740px) {
        @content;
    }
}


/*  >= 1024px && < 1240px */

@mixin lg {
    @media (min-width: 1024px) {
        @content;
    }
}


/* >= 1240px */

@mixin xl {
    @media (min-width: 1240px) {
        @content;
    }
}